//-
   Created by Alan(000058) on 2016/12/27.
   Email: 1480801@qq.com
   Update: Alan 2016-12-27 14:49:02
   Name: 接送机默认模版

block vars
doctype html
html(lang="en-us")
    //- HTML head
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{(config.title?config.title+' - ':'')+'中国东方航空'}
        meta(name='keywords',content=config.keywords)
        meta(name='description',content=config.description)
        link(href='//ceair-resource.oss-cn-shanghai.aliyuncs.com/common/pc/head/css/headfoot.css?_=201612011741',rel='stylesheet')
        block css
        block head
    //- HTML BODY
    body(class = config.body.cls, page-key=config.body.key)
        //-头部导航
        block header
        include head.pug
        //-页面内容区域
        .mainContent(class=config.body.contentCls)
            block mainContent
        //-页面底部导航
        block footer
        include foot.pug
        script(src='//ceair-resource.oss-cn-shanghai.aliyuncs.com/scripts/core/jquery-1.8.3.min.js',type='text/javascript')
        script(src="oldTravelAsset/js/Reservation/head.js?_=201612011741")
        block js

